apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provider
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        options:
          path: /var/lib/grafana/dashboards
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard
data:
  creation.json: |
    {
      "uid": "creation-dashboard-678",
      "title": "Creation Dashboard",
      "timezone": "browser",
      "panels": [
        {
          "id": 1,
          "title": "User and Post Creation Rate",
          "type": "timeseries",
          "gridPos": {"h": 8, "w": 24, "x": 0, "y": 0},
          "targets": [
            {
              "expr": "rate(users_created_total[5m])",
              "legendFormat": "Users/min",
              "refId": "A"
            },
            {
              "expr": "rate(posts_created_total[5m])",
              "legendFormat": "Posts/min",
              "refId": "B"
            }
          ],
          "fieldConfig": {
            "defaults": {
              "unit": "reqps"
            }
          }
        }
      ],
      "refresh": "5s",
      "time": {"from": "now-15m", "to": "now"}
    }
